#clientes {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-x: hidden;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(calc(50px * 1));
            transform: translateX(calc(50px * 1));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(calc(50px * 1));
            transform: translateX(calc(50px * 1));
  }
}

@-webkit-keyframes scroll-d {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(calc(50px * 1));
            transform: translateX(calc(50px * 1));
  }
}

@keyframes scroll-d {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(calc(50px * 1));
            transform: translateX(calc(50px * 1));
  }
}

.loop--slider {
  background: white;
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
  height: 100px;
  margin: auto;
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loop--slider::before, .loop--slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.loop--slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.loop--slider::before {
  left: 0;
  top: 0;
}
.loop--slider .loop--slide--track {
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
  display: -webkit-box;
  display: flex;
  align-items: center;
  width: calc(200px * 8);
}

.loop--slide--track--d {
  -webkit-animation: scroll-d 20s linear infinite reverse;
          animation: scroll-d 20s linear infinite reverse;
  display: -webkit-box;
  display: flex;
  width: calc(200px * 8);
  align-items: center;
}


.loop--slider .loop--slide {
  height: 80px;
  width: 200px;
}
