#contato {
  background-color: #2C2CF2;
  padding: 80px 0;
}

.rodape-container {
  max-width: 1280px;
  margin: 0 auto;
}

.rodape-texto {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
}

.rodape-texto p {
  color: #fff;
  max-width: 30ch;
}

.rodape-texto li {
  color: #fff;
  margin-bottom: 0.5rem;
}

.rodape-texto a {
  color: #f5f7fa;
}

.rodape-texto a:hover {
  color: #9C9CFF;
}

.copy {
  padding-bottom: 10px;
}

.copy span {
  color: #d0daf2;
  font-size: 0.75rem;
  line-height: 1.1;
}

@media (max-width: 800px) {

  #contato {
    padding: 20px 0;
  }

  .rodape-texto {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .rodape-container {
    padding: 10px 20px;
  }
}
