#depoimentos {
  background-color: #D1D1FF;
  padding: 4rem 0;
}

.intro_depoimentos {
  margin-bottom: 60px;
}

.intro_depoimentos h2 {
  text-align: center;
  color: #0F0F54;
  font-size: 2.25rem;
  line-height: 1.2;
}

.intro_depoimentos p {
  text-align: center;
  color: #0F0F54;
  font-size: 0.875rem;
  line-height: 1.55;
  max-width: 26.25rem;
  margin: 0.5rem auto;
}

.depoimentos-todos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.depoimento {
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  gap: 5px 20px;
}

.depoimento img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  overflow: hidden;
  background-image: linear-gradient(#2C2CF2, #2A64EB, #2ABBEB);
  padding: 6px;
  margin: 0.3125rem;
  box-shadow: 0 0 0 6px #1f1f26;
}
.autor-depoimento {
  color: #0F0F54;
  font-size: 1rem;
  font-family: "IBM+Plex+Sans", Arial, sans-serif;
  align-items: center;
}

.texto-depoimento {
  color: #0F0F54;
  font-size: 1rem;
}

.texto-depoimento {
  grid-column: -1 / 1;
}

@media (max-width: 800px) {
  .depoimentos-todos {
    grid-template-columns: 1fr;
  }
}
