#desenvolvimento {
  padding: 80px calc((100% - 1320px)/2);
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 40px;
}

#desenvolvimento h2 {
  margin-bottom: 8px;
}

#desenvolvimento h3 {
  position: relative;
  max-width: 16ch;
}


mark {
  position: relative;
  display: inline-block;
  z-index: 1;
  background: transparent;
}

mark::after {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
  top: 0;
  left: -2px;
  bottom: 0;
  width: 0;
  transition: width 0.9s ease-in-out 0.5s;
  background: var(--accent);
  opacity: 30%;
}

mark.visible::after {
  width: calc( 100% + 4px);
}

/* #desenvolvimento p::after {
  content: "";
  height: 50%;
  width: 100%;
  display: block;
  z-index: -5;
  opacity: 30%;
  position: absolute;
  transition: all .3s ease;
  background: linear-gradient(180deg,transparent 50%,var(--accent) 50%);
} */


.pilares {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pilares li {
  flex: 1 1 260px;
  border-radius: 16px;
  padding: 1.875rem;
  background-color: var(--primary5);
  box-shadow: 0 4px 3px 0 var(--primary5);
  position: relative;
  z-index: 2;
  height: 162px;;
}
  
.pilar-titulo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 1rem;
}

.pilar-titulo img {
 width: 36px;
 height: 36px;
}

@media (max-width: 800px) {

  #desenvolvimento {
    display: grid;
    grid-template-columns: 1fr;
    padding: 60px calc((100% - 340px)/2);
  }
  .pilares {
    flex-wrap: wrap;
  }
  .desenvolvimento-titulo {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
  }
  .desenvolvimento-titulo p {
    text-align: center;
  }
}