#desenvolvimento {
  background-color: #D1D1FF;
  padding: 60px calc((100% - 1280px)/2);
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 40px;
}

#desenvolvimento h2 {
  font-size: 2rem;
  margin-bottom: 8px;
}

#desenvolvimento p {
  font-size: 1.5rem;
}

.pilares {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pilares li {
  flex: 1 1 260px;
  border-radius: 16px;
  padding: 1.875rem;
  box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 5%);
  background-color: #fff;
  position: relative;
  z-index: 2;
}
  
.pilar-titulo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 1rem;
}

.pilares h3 {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.pilares p {
  font-size: 1rem;
  line-height: 1rem;
}

@media (max-width: 800px) {

  #desenvolvimento {
    display: grid;
    grid-template-columns: 1fr;
    padding: 60px calc((100% - 340px)/2);
  }
  .pilares {
    flex-wrap: wrap;
  }
  .desenvolvimento-titulo {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
  }
  .desenvolvimento-titulo h2,p {
    text-align: center;
  }
}