#desenvolvimento {
  /* background-color: var( --secondary5); */
  padding: 60px calc((100% - 1280px)/2);
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 40px;
}

#desenvolvimento h2 {
  margin-bottom: 8px;
}

.pilares {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pilares li {
  flex: 1 1 260px;
  border-radius: 16px;
  padding: 1.875rem;
  background-color: var(--secondary10);
  box-shadow: 0 4px 3px 0 var(--secondary5);
  position: relative;
  z-index: 2;
}
  
.pilar-titulo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 1rem;
}

.pilar-titulo img {
 width: 36px;
 height: 36px;
}

@media (max-width: 800px) {

  #desenvolvimento {
    display: grid;
    grid-template-columns: 1fr;
    padding: 60px calc((100% - 340px)/2);
  }
  .pilares {
    flex-wrap: wrap;
  }
  .desenvolvimento-titulo {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
  }
  .desenvolvimento-titulo p {
    text-align: center;
  }
}