body {
  margin: 0;
  background-color: #1F1F26;
}

h1,
h2,
h3,
h4 {
  font-family: "IBM+Plex+Sans", Arial, sans-serif;
  margin: 0;
}

p {
  margin: 0;
  font-family: "IBM Plex Sans Condensed", Arial, sans-serif;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: "IBM Plex Sans Condensed", Arial, sans-serif;
}

span {
  font-family: "IBM Plex Sans Condensed", Arial, sans-serif;
}

a {
  font-family: "IBM+Plex+Sans", Arial, sans-serif;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}

.js [data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .3s;
}

.js [data-anime="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
