.header {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.header_menu {
  box-sizing: border-box;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul {
  display: flex;
  gap: 4rem;
}

.menu  li {
  font-family: "IBM+Plex+Sans", Arial, sans-serif;
  /* display: inline-block; */
}

.menu a {
  color: #ffff;
  font-size: 1.2rem;
  line-height: 1.3;
  display: block;
  text-decoration: none;
  padding: 6px 12px;
  position: relative;
}

.menu a::before {
  box-sizing: border-box;
  transform: translateX(100%);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 99.5%;
  height: 2px;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 4px;
}
.menu a::after {
  box-sizing: border-box;
  transform: translateX(-100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 99.5%;
  height: 2px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 4px;
}

.menu a:hover::before {
  transition: .1s transform linear, .1s height linear .1s;
  transform: translateX(0);
  height: 100%;
  border-color: #fff;
}

.menu a:hover::after {
  transition: .1s transform linear, .1s height linear .1s;
  transform: translateX(0);
  height: 100%;
  border-color: #fff;
}

