.header-background {
  background-color: var(--secondary);
}

.portifolio-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}

.titulo-portifolio {
  color: var(--text60);
  font: 500 1.5rem/1.5 "Inter", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 80px;
}

.portifolio-lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.portifolio {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px 20px;
  background-color: var(--primary10);
  padding: 20px 20px 12px 20px;
  border-radius: 1rem;
  position: relative;
  margin-bottom: 20px;
}

.portifolio::before {
  content: "";
  position: absolute;
  background: linear-gradient(var(--accent), var(--primary));
  display: block;
  height: 4px;
  width: 20px;
  background-repeat: no-repeat;
  top: -2px;
  left: 20px;
}

.portifolio img {
  border-radius: 8px;
}

.ano {
  position: absolute;
  top: -24px;
  left: 20px;
  font: 300 0.75rem/1.35 "Inter", sans-serif;
  letter-spacing: 0.06rem;
  color: var(--text);
}

.titulo-projetos {
  color: var(--text);
  font: 500 1.125rem/1.35 "Inter", sans-serif;
  margin-bottom: 10px;
}

.texto-projetos {
  color: var(--text);
  font: 300 1rem/1.5 "Inter", sans-serif;
}

.btn-port {
  grid-column: 1 / -1;
  padding: 10px !important;
}

.btn-todos a {
  background: linear-gradient(#52bad1, #81ecf3);
  padding: 10px 20px;
  border-radius: 4px;
  color: #0b5262;
  font: 500 2rem/1.25 "Inter", sans-serif;
  float: right;
  opacity: 1;
}

.btn-todos a:hover {
  transition: 0.4s;
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 800px) {
  .portifolio {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .portifolio-lista {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .titulo-projetos {
    margin-bottom: 5px;
  }

  .projetos {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .Experiencia {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 30px 20px;
  }

  .experiencia-texto {
    font-size: 1rem;
    line-height: 1.2;
    max-width: none;
    margin-bottom: 30px;
  }

  .btn-port {
    padding: 5px !important;
  }
}
