#projetos {
  background-color: #2e2e38;
  padding: 3.75rem 0;
}

.intro_projetos h1 {
  text-align: center;
  color: #fff;
  font-size: 2.25rem;
  line-height: 1.2;
}

#frames {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin: 1.875rem auto 0 auto;
  padding: 20px 100px 60px 100px;
  max-width: 1200px;
}

.projeto_destaque {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.projeto_destaque img {
  grid-column: 1 / -1;
  border-radius: 16px;
  height: 350px;
  width: 600px;
  object-fit: cover;
}

.projeto_destaque-info h4 {
  color: #fff;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 0.2rem;
}

.projeto_destaque-info p {
  color: #c0c9df;
  font-size: 0.85rem;
  line-height: 1.2;
  max-width: 30ch;
}

.btn.small {
  background-image: none;
  font-size: 0.875rem;
  padding: 0 10px 10px 10px;
  margin: 0;
  justify-self: end;
  align-self: start;
  gap: 10px;
  font-weight: normal;
}

@media (max-width: 800px) {
  #frames {
    grid-template-columns: 1fr;
    gap: 60px;
    padding: 30px 20px;
  }

  .projeto_destaque img {
    grid-column: 1 / -1;
    border-radius: 16px;
    height: 200px;
    width: 400px;
    object-fit: cover;
  }

  .projeto_destaque-info h4 {
    font-size: 1.2rem;
  }

  .projeto_destaque-info p {
    font-size: 0.875rem;
    max-width: 360ch;
  }
}
