#quem {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  align-items: center;
  justify-content: end;
  gap: 80px;
  padding-left: 80px;
}

.perfil {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  gap: 60px
}

.perfil-bio h2 {
  text-align: left;
  margin: 20px 0;
}

.perfil-bio h3 {
  text-align: left;
  margin-bottom: 20px;
  max-width: 30ch;
}

.perfil-bio p {
  text-align: left;
}

#perfil {
  width: 100%;
  background-blend-mode: soft-light;
}

@media (max-width: 800px) {
  #quem {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
