#quem {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  align-items: center;
  gap: 60px;
}

.perfil {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  gap: 60px
}

.perfil-bio h2 {
  text-align: left;
  color: #0F0F54;
  margin: 20px 0;
}

.perfil-bio p {
  text-align: left;
  color: #0F0F54;
}

#perfil {
  width: 100%;
  background-blend-mode: soft-light;
}

@media (max-width: 800px) {
  #quem {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
