:root {
  --bg-light: #FFFFFF;        /* Fundo claro */
  --bg-muted: #F5F7FA;        /* Fundo cinza frio */
  --bg-dark: #0B132B;         /* Fundo azul marinho */
  --primary: #0C29D0;         /* Azul forte */
  --primary45: rgba(12, 41, 208, 0.5)  ;         /* Azul forte */
  --secondary: #1E88E5;       /* Azul claro */
  --text: #374151;            /* Texto principal (cinza escuro suave) */
  --text-muted: #4B5563;      /* Texto secundário */
  --text-light: #6B7280;      /* Texto leve para áreas menos importantes */
  --text-white: #FFFFFF;      /* Texto branco */
  --alert: #64d97b;           /* Alerta (laranja) */
}
