#depoimentos {
  background-color: var(--secondary10);
  padding: 80px 20px;
}

#depoimentos h2 {
  text-align: center;
  margin-bottom: 60px;
}

.depoimentos-todos {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

.depoimento {
  flex: 1;
  background-color: #fff;
  padding: 40px;
  border-radius: 1rem;
  box-shadow: 0 4px 3px 0 var(--secondary5);
}

.avatar {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar span {
  letter-spacing: 0.1rem;
  text-transform: uppercase ;
}

.depoimento img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  overflow: hidden;
  background-image: linear-gradient(var(--primary), var(--accent));
  padding: 6px;
  margin: 0.3125rem;
  box-shadow: 0 0 0 4px #1f1f26;
}


@media (max-width: 800px) {
  .depoimentos-todos {
  flex-direction: column;    
}
}
