#desenvolvimento {
  padding: 80px 20px;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 40px;
}

#desenvolvimento h2 {
  margin-bottom: 20px;
}

#desenvolvimento h3 {
  position: relative;
}


mark {
  position: relative;
  display: inline-block;
  z-index: 1;
  background: transparent;
}

mark::after {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
  top: 0;
  left: -2px;
  bottom: 0;
  width: 0;
  transition: width 0.9s ease-in-out 0.5s;
  background: var(--accent);
  opacity: 30%;
}

mark.visible::after {
  width: calc( 100% + 4px);
}

.pilares {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Define 2 colunas */
  grid-gap: 20px; /* Espaço entre os itens */
  justify-items: center; /* Centraliza os itens horizontalmente */
}

.pilares li {
  width: 100%;
  max-width: 300px;
  border-radius: 16px;
  padding: 1.5rem;
  background-color: var(--primary5);
  border: 1px solid var(--primary50);
  position: relative;
  z-index: 2;
  min-height: 180px; /* Altura mínima */
  display: flex;
  flex-direction: column; /* Mantém o conteúdo em coluna */
  align-items: flex-start; /* Alinha todo o conteúdo ao topo */
}

.pilar-titulo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 1rem;
}

.pilar-titulo img {
  width: 40px; /* Tamanho do ícone */
  height: 40px;
}

.pilares li p {
  margin: 0;
  margin-top: auto; /* Posiciona o texto na parte inferior do item */
  color: var(--primary80); /* Cor do texto */
  font-size: 0.875rem;
  line-height: 1.5;
}




@media (max-width: 800px) {

  #desenvolvimento {
    display: grid;
    grid-template-columns: 1fr;
    padding: 80px calc((100% - 340px)/2);
  }
  #desenvolvimento h3 {
    max-width: none;
  }
  .pilares {
    flex-wrap: wrap;
  }
  .desenvolvimento-titulo {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
  }
  .desenvolvimento-titulo p {
    text-align: center;
  }
}