body, h1, h2, h3, h4, p, ul, li, a {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, ul, li, a {
  will-change: opacity, transform;
}

html,
body {
  /* position: relative; */
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

button {
  all: unset;
}

body {
  overflow-x: hidden;
}

.swiper-button-prev, .swiper-button-next {
  outline: none;
}

.swiper-slide {
  user-select: none;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%; /* Faz o container ocupar toda a largura disponível */
  padding: 0 20px; /* Espaço interno do container */
  box-sizing: border-box; /* Inclui padding na largura total */
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}

/* Estado inicial para todas as animações */
.animate-me {
  opacity: 0;
  will-change: opacity, transform; /* Para melhor desempenho */
}

/* Cada tipo de animação terá uma posição inicial diferente */
.animate-bottom {
  transform: translateY(50px); /* Baixo para cima */
}

.animate-right {
  transform: translateX(50px); /* Direita para esquerda */
}

.animate-left {
  transform: translateX(-50px); /* Esquerda para direita */
}

.highlight {
  display: inline-block;
  position: relative;
  color: inherit;
}

.highlight::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%; /* Altura do grifo */
  width: 100%; /* Inicialmente oculto */
  background: var(--alert); /* Usa a cor primária definida */
  z-index: -1; /* Coloca o grifo atrás do texto */
  transition: width 0.5s ease-out; /* Animação suave */
}



