

.quem {
  /* background-color: var(--bg-light);   */
  color: var(--text);
  padding: 80px 20px;
  display: grid;
  grid-template-columns: 1.8fr 1fr; /* Duas colunas */
  gap: 80px;
  position: relative;

}

.texto-quem h2 {
  margin-bottom: 20px;
}

.texto-quem h3 {
  text-align: left;
  margin-bottom: 20px;
  max-width: 30ch;
}

.texto-quem p {
  text-align: left;
  margin-bottom: 1rem;
  z-index: 1;
}

.formacao-tecnica {
  /* background-color: #f5f7fa;  */
  border-radius: 1rem;
  margin-top: 40px;
  /* box-shadow: 0 2px 4px rgba(0,0,0,.08); */
  border: px solid var(--primary);
}

.formacao-tecnica h4 {
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--accent); /* Título com cor de destaque */
}

.formacao-tecnica li {
  list-style: none; /* Remove o estilo de lista padrão */
  position: relative;
  padding-left: 1.6rem; /* Espaço para a seta */
  margin-bottom: 0.4rem;
}

.formacao-tecnica li:before {
  content: "\f061"; /* Unicode da seta longa para a direita */
  font-family: "Font Awesome 5 Free"; /* Certifique-se de carregar Font Awesome */
  font-weight: 900; /* Define o peso para ícones sólidos */
  color: var(--primary); /* Aplica a cor primária */
  position: absolute;
  left: 0;
  bottom: 0.1rem; /* Ajuste fino do alinhamento vertical */
  font-size: 0.8rem; /* Define o tamanho da seta */
}

.formacao-tecnica a {
  color: var(--text); /* Links brancos */
  font-weight: 500;
}

.formacao-tecnica a:hover {
  color: var(--primary); /* Cor de destaque no hover */
}


#imagem-quem {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 1rem;
  z-index: 2;
}

.circulo-azul-direita {
  position: absolute;
  top: 50%;
  right: -140px; /* Colado na direita */
  width: 600px;
  height: 600px;
  background: linear-gradient(-180deg, #e6eeff 0%, rgba(230, 238, 255, 0) 100%);
  border-radius: 50%;
  transform: translateY(-50%); /* Apenas no eixo Y */
  pointer-events: none;
  z-index: -1;
}

#linkedin {
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease;
}

#linkedin:hover {
  opacity: 70%;
}

.swiper-button-next, .swiper-button-prev {
  color: var(--primary);
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 2rem;
}

/* Responsividade */
@media (max-width: 800px) {
  #quem-bg {
    box-shadow: inset 0 80px var(--bg), inset 0 -80px var(--primary);
    padding: 60px 20px;
  }

  .quem {
    grid-template-columns: 1fr; /* Coluna única no mobile */
  }

  .texto-quem h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  .texto-quem h3 {
    text-align: center;
    max-width: none;
  }

  #imagem-quem {
    height: auto; /* Ajusta altura automaticamente */
    border-radius: 1rem;
  }

  .formacao-tecnica li:before {
    bottom: 24px; /* Ajuste fino do alinhamento vertical */
  }

  .circulo-azul-direita {
    top: auto; /* Remove o alinhamento vertical */
    bottom: -20px; /* Posiciona abaixo do conteúdo */
    left: 50%;
    right: auto;
    transform: translateX(-50%); /* Centraliza no eixo X */
    background: linear-gradient(180deg, #e6eeff 0%, rgba(230, 238, 255, 0) 100%);
  }
}