.hidden {
  opacity:0;
}
.console-container {
  font-size:2.4em;
  text-align:center;
  display:block;
  color: #64d97b;
  bottom:0;
  top:20px;
  left:0;
  right:0;
}
.console-underscore {
  display:inline-block;
  position:relative;
}


@media (max-width: 800px) {
  .console-container {
width:300px;

  }
   
}