.console-container {
  font-size: 2.4em;
  text-align: center;
  display: block;
  color: var(--alert); /* Ajuste conforme necessário */
  /* margin: 0 auto; */
  position: relative;
}

.console-underscore {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.2s ease;
  font-weight: bold;
}

@media (max-width: 800px) {
  .console-container {
    font-size: 1.8em;
    width: 100%;
  }
}